page {
	background: #f5f5f5;
	height: 100%;
}

image {
	width: 100%;
	height: 100%;
}

.book_body {
	display: flex;
	height: 200upx;
	padding: 20upx 20upx 0;
	background: #fff;
}

.book_body:active {
	background-color: #eeeeee;
}

.book_body .book_image {
	width: 140upx;
}

.book_body .book_image image,
.book_body .book_image img {
	width: 100%;
	height: 94%;
	background-size: 100% 100%;
	background-image: url('http://book.mdaogo.cn/public/images/wfm.jpg');
	-moz-box-shadow: 0px 4px 4px #eeeeee;
	-webkit-box-shadow: 0px 4px 4px #EEEEEE;
	box-shadow: 0px 4px 4px #EEEEEE;
}

.book_body .book_info {
	color: #808080;
	flex: 1;
	padding: 10upx;
	font-size: 28upx;
	border-bottom: 1upx solid #eeeeee;
	margin: 0 20upx;
}

.book_body .book_info .book_titie {
	color: #222;
	font-size: 38upx;
}

.book_body:last-child {
	padding-bottom: 10upx;
}

.book_body:last-child .book_info {
	border-bottom: 0;
}

.book_body .book_info .book_chapter {
	width: 500upx;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
